.Scenario {
    font-size: calc(8px + 2vmin);
}
.PassZone {
    display: inline-block;
    justify-content: center;
    font-size: calc(8px + 2vmin);
}

.ParamChanger {
    display: block;
}

.IconAction {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
}

.PassSeparator {
    border-style: dashed;
    color: white;
}

.LineKey {
    padding-right: 10px;
}

.LineProb {
    /*font-size: calc(6px + 2vmin);*/
}
.LineProb span {
    margin-right: 5px;
}

.BagDisplay {

}
/*.BagDisplay p {*/
/*    font-size: medium;*/
/*}*/

.BagDisplay .TokenStrip {
    font-size: xx-large;
}

.TokenPassLine{

}

.TokenPassLine .TokenStrip {
    font-size: calc(28px + 2vmin);
}

.Token {
    padding-left: 1%;
    padding-right: 1%;
    display: inline;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    user-select: none;
    -ms-user-select: none;
}

.TokenPassLine .Token {

}


.Token.Token0 {
    background-image: url("icons/token0.png");
}

.Token.Token-1 {
    background-image: url("icons/token-1.png");
}

.Token.Token1 {
    background-image: url("icons/token1.png");
}

.Token.Token-2 {
    background-image: url("icons/token-2.png");
}

.Token.Token-3 {
    background-image: url("icons/token-3.png");
}

.Token.Token-4 {
    background-image: url("icons/token-4.png");
}

.Token.Token-5 {
    background-image: url("icons/token-5.png");
}

.Token.Token-6 {
    background-image: url("icons/token-6.png");
}

.Token.Token-8 {
    background-image: url("icons/token-8.png");
}

.Token.Calavera {
    background-image: url("icons/skull.png");
}

.Token.Lápida {
    background-image: url("icons/tombStone.png");
}

.Token.Sectario {
    background-image: url("icons/cultist.png");
}

.Token.Antiguo {
    background-image: url("icons/elder.png");
}

.Token.elderSign {
    background-image: url("icons/elderSign.png");
}

.Token.Fallo {
    background-image: url("icons/fail.png");
}